body {
  font-family: "Helvetica", "Arial", sans-serif;
  background-image: url("../public/disco.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#machine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
#drum-parts {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
}
.drum-pad {
  background-color: lightskyblue;
  width: 200px;
  height: 200px;
  font-size: 80px;
}
#display {
  background-color: darkblue;
  color: white;
  font-size: 100px;
  width: 500px;
  margin-top: 20px;
}
